.cart{
  font-size: 30px;
}

.btn .badge {
  top: 6px !important;
}

.cart-gif{
  width: 40px;
}


.add-to-cart {
  width: 100%;
  /* max-width: 800px; Adjust according to your preference */
  margin: 0 auto;
}

.add-to-cart table {
  width: 100%;
  border-collapse: collapse;
}

.add-to-cart th, .add-to-cart td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.add-to-cart th {
  background-color: #f2f2f2;
}

.add-to-cart input[type="number"] {
  width: 50px;
  padding: 5px;
  text-align: center;
}

.add-to-cart button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.add-to-cart button:hover {
  background-color: #45a049;
}
